@model MVC.Models.UserSkill
@{
    ViewData["Title"] = "Створення навички";
    var userId = (int)ViewBag.UserId;
}

<h1>Створення навички для користувача з id = @userId</h1>

<!-- Форма для створення нової навички -->
<form asp-action="Create" method="post" asp-controller="Skill" enctype="multipart/form-data">
    <input type="hidden" name="userId" value="@userId" />

    <!-- вибір назви навички -->
    <div class="form-group">
        <label for="title">Колір</label>
        <select name="title" class="form-control" asp-items="ViewBag.SkillOptions">
            <option value="">Оберіть навичку</option>
        </select>
        <span class="text-danger"></span>
    </div>

    <!-- Вибір кольору для навички -->
    <div class="form-group">
        <label for="color">Колір</label>
        <select name="color" class="form-control" asp-items="ViewBag.ColorOptions">
            <option value="">Оберіть колір</option>
        </select>
        <span class="text-danger"></span>
    </div>

    <!-- Поле для введення рівня володіння навичкою -->
    <div class="form-group">
        <label for="level">Рівень володіння навичкою</label>
        <input name="level" class="form-control" type="number" min="1" max="100" required />
        <span class="text-danger"></span>
    </div>

    <!-- Поле для завантаження логотипу навички -->
    <div class="form-group">
        <label for="file">Логотип навички</label>
        <input type="file" name="file" class="form-control" accept="image/png, image/jpeg, image/jpg, image/gif" />
    </div>

    <!-- Кнопки для збереження або скасування -->
    <button type="submit" class="btn btn-primary mt-2">Зберегти</button>
    <a asp-action="Index" asp-route-userId="@userId" class="btn btn-secondary mt-2">Скасувати</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
