@model MVC.Models.Skill
@{
    ViewData["Title"] = "Створення навички";
    var userId = (int)ViewBag.UserId;
}
<h1>Створення навички для користувача з id = @userId</h1>

<form asp-action="Create" method="post" asp-controller="Skill" enctype="multipart/form-data">
    <input type="hidden" name="userId" value="@userId" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Color"></label>
        <select asp-for="Color" class="form-control" asp-items="ViewBag.ColorOptions">
            <option value="">Select color</option>
        </select>
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>

    <!-- Нове поле для рівня володіння -->
    <div class="form-group">
        <label asp-for="Level"></label>
        <input asp-for="Level" class="form-control" type="number" min="1" max="100" />
        <span asp-validation-for="Level" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="file">Logo of skill</label>
        <input type="file" name="file" class="form-control" accept="image/png, image/jpeg, image/jpg, image/gif" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
    <a asp-action="Index" asp-route-userId="@userId" class="btn btn-secondary mt-2">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
