@using MVC.Areas.Auth.Models.Forms
@model LoginForm

@{
    ViewData["Title"] = "Registration";
    var returnUrl = Context.Request.Query["ReturnUrl"];
    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = "/";
    }
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>

    <!-- Приклад форми з використанням TagHelper-ів -->
    <form enctype="multipart/form-data"
          asp-area="Auth"
          asp-controller="Account"
          asp-action="Register">
        <input type="hidden" name="ReturnUrl" value="@returnUrl" />

        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Login" class="form-label"></label>
                <input asp-for="Login" class="form-control" type="text" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary" type="submit">Register</button>

            <a asp-area="Auth"
               asp-controller="Account"
               asp-action="Login"
               asp-route-ReturnUrl="@returnUrl"
               class="btn btn-outline-success">Login</a>
        </div>
    </form>
</div>
